<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.wildcodeschool.kelian.winstate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.ConnectionActivity"
            android:noHistory="true"/>
        <activity
            android:name=".UI.EditoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true">
        </activity>
        <activity android:name=".UI.CreateAccountActivity"
            android:noHistory="true"/>
        <activity android:name=".UI.WinLinkActivity" />
        <activity
            android:name=".UI.ResetPassword"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity android:name=".UI.ModifUserActivity"></activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".UI.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true"><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter> </activity>
        <activity android:name=".UI.SalonActivity" />
    </application>

</manifest>